<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><%= pageTitle %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <header class="main_header">
      <nav class="main_header_nav">
        <ul class="main_header_nav_list">
          <li class="nav_list_links">
            <a class="anchor_link" href="/">Home</a>
          </li>
          <li class="nav_list_links">
            <a class="anchor_link" href="/admin">Add an Employee</a>
          </li>
        </ul>
      </nav>
    </header>
    <section class="main_container">
      <% if (employees.length > 0) { %>
      <div class="main_wrapper">
        <h1>Welcome !</h1>
        <div class="cardsContainer">
          <% for (let employee of employees) { %>
          <div class="employeeCard">
            <p>
              <span class="title">Name : </span
              ><span class="name"><%= employee.name %></span>
            </p>
            <p>
              <span class="title">Email : </span
              ><span class="email"><%= employee.email %></span>
            </p>
            <p>
              <span class="title">Contact Number : </span><%=
              employee.mobilenumber %>
            </p>
            <p><span class="title">Age : </span><%= employee.age %></p>
            <p><span class="title">Place : </span><%= employee.place %></p>
            <p><span class="title">Skill : </span><%= employee.skill %></p>
            <p>
              <span class="title">Department : </span><%= employee.department %>
            </p>
            <p><span class="title">Salary : </span><%= employee.salary %></p>
          </div>
          <% } %>
        </div>
      </div>
      <% } %>
    </section>
  </body>
</html>
